/* TERINSPIRASI DARI CODING NEPAL */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #b6bbc5;
}

::selection {
    color: #091921;
    background: #b6bbc5;
}

body {
    background-color: #091921;
}

.select-box,
.play-board,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box {
    background-color: #091921;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
}

.select-box header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #b6bbc5;
}

.select-box .title {
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    border: none;
    background-color: #091921;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
}

.options button:hover,
.result-box .btn button:hover {
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.8),
        2px 2px 3px rgba(255, 255, 255, 0.1);
}

.options button.playerX {
    margin-right: 5px;
}

.options button.playerO {
    margin-left: 5px;
}

.play-board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.play-board .details {
    padding: 7px;
    border-radius: 5px;
    background-color: #091921;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
}

.play-board .players {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.players span {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    cursor: default;
    user-select: none;
    transition: all 0.3 ease;
}

.players .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #091921;
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.8),
        2px 2px 3px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.players.active .slider {
    left: 50%;
}

.players.active .slider {
    left: 50%;
}

.play-area {
    margin-top: 20px;
}

.play-area section {
    display: flex;
    margin-bottom: 1px;
}

.play-area section span {
    display: block;
    height: 90px;
    width: 90px;
    margin: 7px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
    background-color: #091921;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
}

.result-box {
    padding: 25px 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    text-align: center;
    background-color: #091921;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box .won-text {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won-text p {
    font-weight: 600;
    margin: 0 5px;
}

.result-box .btn {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.btn button {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    background-color: #091921;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
}

@media all and (max-width: 440px) {
    .select-box {
        width: 85%;
    }

    .select-box .title {
        font-size: 5vw;
    }

    .play-area section {
        justify-content: center;
    }

    .result-box {
        width: 85%;
    }

    .result-box .won-text {
        font-size: 6.5vw;
    }
}
